<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Django Base{% endblock %}</title>
    {% include 'snippets/css.html' %}
</head>
<body>
    {% include 'snippets/header.html' %}
    <div class="container">
        {% include 'snippets/messages.html' %}
        {% block content %}
        {% endblock %}
    </div>
    {% include 'snippets/footer.html' %}
    {% include 'snippets/js.html' %}
</body>
</html>