{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='text-center jumbotron'>
    <h1>{{ title }}</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam atque autem distinctio explicabo minus mollitia officia placeat. Atque blanditiis consectetur consequatur nesciunt non odio optio repudiandae sit totam unde.
    </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h1>Title</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, deserunt nobis iusto dolores praesentium sint, dicta culpa totam, illum omnis accusamus soluta, inventore dolore magni ad? Quaerat, porro, numquam. Architecto!</p>
  </div>
  <div class="col-md-4">
    <h1>Title</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore ullam assumenda nam consectetur obcaecati culpa consequatur ex alias repudiandae distinctio fugiat maiores deserunt accusantium dolorem, architecto et voluptatum atque dignissimos!</p>
  </div>
  <div class="col-md-4">
    <h1>Title</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ipsam delectus aliquam esse molestias laudantium incidunt voluptatem, voluptatibus hic quod dolorum maiores ea eius laboriosam magni, eos nulla, provident recusandae.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h1>Title</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod voluptatibus expedita autem veritatis dolor eaque, maxime mollitia tempore, esse voluptatem nihil aliquam soluta distinctio consequuntur saepe iusto cumque consequatur eveniet!</p>
  </div>
  <div class="col-md-6">
    <h1>Title</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod provident asperiores nulla minima. Autem explicabo, aut et necessitatibus in, harum, molestiae accusantium, magni fugiat excepturi quis nobis ut vel accusamus.</p>
  </div>
</div>
{% endblock %}